.rounded-circle{
    width:36px; 
    height:36px; 
    background-size:cover;
    object-fit:cover;
}

.profile-photo{
    height: 9em;
    width: 9em;
}

.profile-info{
    cursor: pointer;
}

.employee-photo{
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .d-flex.vh-100{
        flex-direction: column;
    }   
}